<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <title> th:text="${title}"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Добавление товара</h1>
    <form action="/card/add" method="post">
        <input type="text" name="title" placeholder="Введите название товара" class="form-control"><br>
<!--        <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>-->
        <textarea name="full_text" placeholder="Введите описанние товара" class="form-control"></textarea><br>
<!--        <input type="text" name="price" placeholder="Введите цену товара" class="form-control"><br>-->
        <input type="text" name="price" placeholder="Введите цену товара" class="form-control"><br>
        <button type="submit" class="btn btn-success" >Добавить товар</button>
    </form>

</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>